*{
    margin: 0;
}
body{
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #db1d4b;
    color: #fff;
}
header{
    width: 100%;
    text-align: center;
}
h1{
    text-transform: uppercase;
    margin-bottom: 15px;
}
section{
    background-color: #132743;
    color: #fff;
    margin: auto;
    padding: 50px;
    width: 75%;
    border-radius: 15px;
}
#palabra{
    margin-top: 15px;
    height: 25px;
    width: 315px;
}
.submit{
    margin-top: 25px;
}
.botonform{
    background-color: #eeee;
    color: #303841;
    width: 100px;
    height: 30px;
    border: 0px;
    border-radius: 4px;
    margin-right: 15px;
}
#container{
    margin-top: 15px;
    height: 150px;
}
#enviar{
    background-color: #f9e3a2;
}
table{
    width: 100%;
    border-radius: 15px;
    background-color: #db1d4b;
    font-size: 15px;
    margin-bottom: 50px;
}
tr:nth-child(odd){
    background-color: #ff6187;
}
tr:first-child th:first-child{
    border-top-left-radius: 15px;
}
tr:first-child th:last-child{
    border-top-right-radius: 15px;
}
tr:last-child th:first-child{
    border-bottom-left-radius: 15px;
}
tr:last-child th:last-child{
    border-bottom-right-radius: 15px;
}
input{
    width: 250px;
}
.izquierdo{
    width: 50%;
    float: left;
}
.derecho{
    width: 50%;
    float: right;
}
#button{
    margin-top: 50px;
    text-decoration: none;
    padding: 10px;
    background-color: #f9e3a2;
    color: #303841;
    border-radius: 4px;
    border: 2px solid #f3dd96;
}
footer{
    background-color: #132743;
    color: #fff;
    margin: auto;
    margin-top: 15px;
    padding: 5px;
    width: 75%+10px;
    border-radius: 15px;
}
footer p{
    padding: 15px;
}