body{
    background-color: lightblue;
}
div{
    font-size: 20px;
}
h2{
    text-decoration: underline;
    color: white;
}
#navy{
    color: navy;
    font-weight: bold;
}
#upper{
    text-transform: uppercase;
    text-align: justify;
}
#size{
    font-size: 12px;
}
.italic{
    font-style: italic;
}